<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Luxium Solutions{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <div class="wrapper">
      <div class="banner container-fluid">
        <div class="logo">
          <img
            src="{{ url_for('static', filename='img/LuxiumLogo.png') }}"
            alt="Company Logo"
          />
        </div>
        <div class="top-right-links">
          <a href="#">About</a>
          <a href="#">Services</a>
          <div class="notifier new">
            <i class="fa fa-bell-o bell" id="notification-icon"></i>
            <div class="badge">0</div>
            <ul class="dropdown" id="notification-dropdown">
              <li><a href="#">Notification 1</a></li>
              <li><a href="#">Notification 2</a></li>
              <li><a href="#">Notification 3</a></li>
            </ul>
          </div>
          <a href="{{ url_for('logout') }}" class="logout-btn" role="button"
            >Logout</a
          >
        </div>
      </div>

      <nav class="navigation">
        <ul>
          <li><a href="{{ url_for('dashboard') }}">Home</a></li>
          <li>
            <a href="#">Resources</a>
            <ul class="dropdown">
              <li><a href="#">How to Guides</a></li>
              <li><a href="#">Community Resources</a></li>
              <li><a href="#">What's going on in Luxium?</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Myself</a>
            <ul class="dropdown">
              <li><a href="#">Wellness</a></li>
              <li><a href="#">Performance</a></li>
              <li><a href="{{ url_for('employment') }}">Employment</a></li>
              <li><a href="#">Leave</a></li>
            </ul>
          </li>
          <li>
            <a href="#">People</a>
            <ul class="dropdown">
              <li><a href="#">Wellness</a></li>
              <li>
                <a href="{{ url_for('people_view_performance_reviews') }}"
                  >Performance</a
                >
              </li>
              <li><a href="#">Employment</a></li>
              <li><a href="#">Leave</a></li>
            </ul>
          </li>
          <li>
            <a href="#">My Team</a>
            <ul class="dropdown">
              <li><a href="#">Wellness</a></li>
              <li>
                <a href="{{ url_for('performance_dashboard') }}">Performance</a>
              </li>
              <li>
                <a href="{{ url_for('myteam_employment') }}">Employment</a>
              </li>
              <li><a href="#">Leave</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Process</a>
            <ul class="dropdown">
              <li>
                <a href="{{ url_for('electronic_services') }}"
                  >Electronic Services</a
                >
              </li>
              <li><a href="#">Wellness</a></li>
              <li><a href="#">Performance</a></li>
              <li><a href="#">Leave</a></li>
            </ul>
          </li>
          <li><a href="#">Reports & Analytics</a></li>
          <li>
            <a href="{{ url_for('admin_dashboard') }}">Setup & Security</a>
          </li>
        </ul>
      </nav>

      {% block content %}{% endblock %}
    </div>

    <div class="hr-banner">
      <div class="container-fluid">
        <a href="#" class="left-link">Meet HR Team</a>
        <a href="mailto:LS.US.Luxium.HR@luxiumsolutions.com" class="right-link"
          >Contact HR</a
        >
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notifications.js') }}"></script>
  </body>
</html>
