<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/dashboard.css">
  <title>Dashboard</title>
</head>
<body>
  <div class="banner container-fluid">
    <div class="logo">
      <img src="/static/img/LuxiumLogo.png" alt="Company Logo">
    </div>
    <div class="top-right-links">
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="/logout" class="logout-btn" role="button">Logout</a>
    </div>
  </div>

  <nav class="navigation">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Resources</a></li>
      <li><a href="#">Myself</a></li>
      <li><a href="#">People</a></li>
      <li><a hresf="#">MyTeam</a></li>
      <li><a href="#">Process</a></li>
      <li><a href="#">Reports & Analytics</a></li>

      <li><a href="#">Setup</a></li>
    </ul>
  </nav>
  
  <main class="container">
    <div class="grid">
      <section>
        <!-- Employee Tiles -->
        {% if 'user' in session and session['user']['role'] == 'Employee' %}
        <div class="tile">Employee Tile 1</div>
        <div class="tile">Employee Tile 2</div>
        {% endif %}

        <!-- Manager Tiles -->
        {% if 'user' in session and session['user']['role'] == 'Manager' %}
        <div class="tile">Manager Tile 1</div>
        <div class="tile">Manager Tile 2</div>
        <div class="tile">Manager Tile 3</div>
        <div class="tile">Manager Tile 4</div>
        {% endif %}

        <!-- Admin Tiles -->
        {% if 'user' in session and session['user']['role'] == 'Admin' %}
        <div class="tile">Manager Tile 1</div>
        <div class="tile">Manager Tile 2</div>
        <div class="tile">Manager Tile 3</div>
        <div class="tile">Manager Tile 4</div>
        <div class="tile">Manager Tile 5</div>
        {% endif %}

        <!-- Super_user Tiles -->
        {% if 'user' in session and session['user']['role'] == 'SuperUser' %}
        <div class="tile">Manager Tile 1</div>
        <div class="tile">Manager Tile 2</div>
        <div class="tile">Manager Tile 3</div>
        <div class="tile">Manager Tile 4</div>
        <div class="tile">Manager Tile 5</div>
        <div class="tile">Manager Tile 6</div>
        {% endif %}
      </section>
    </div>
  </main>
</body>
</html>
