{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block
stylesheets %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/dashboard.css') }}"
/>
{% endblock %} {% block content %}
<section class="dashboard-carousel">
  <div class="dashboard-carousel-images">
    <img
      src="{{ url_for('static', filename='img/Team 1.png') }}"
      alt="Team 1"
    />
    <img
      src="{{ url_for('static', filename='img/Workable_1.png') }}"
      alt="Team 2"
    />
    <img
      src="{{ url_for('static', filename='img/LuxiumLogo.png') }}"
      alt="Team 3"
    />
  </div>
</section>

<main class="dashboard-container">
  <div class="dashboard-grid">
    <div class="dashboard-tile">
      <a
        href="https://luxium-solutions-llc.workable.com/referrals"
        target="_blank"
      >
        Refer A Candidate
        <img
          src="{{ url_for('static', filename='img/Workable_Ref_QR Code.png') }}"
          alt="Workable Logo"
        />
      </a>
    </div>
    <div class="dashboard-tile">
      <a href="form-page.html" target="_blank">
        Recognize an Employee
        <img
          src="{{ url_for('static', filename='img/Recognition_Logo.png') }}"
          alt="Recognition Logo"
        />
      </a>
    </div>
    <div class="dashboard-tile">
      <a
        href="https://online.adp.com/signin/v1/?APPID=WFNPortal&productId=80e309c3-7085-bae1-e053-3505430b5495&returnURL=https://workforcenow.adp.com/&callingAppId=WFN&TARGET=-SM-https://workforcenow.adp.com/theme/index.html"
        target="_blank"
      >
        ADP Login
        <img
          src="{{ url_for('static', filename='img/ADP_LOGO.jpg') }}"
          alt="ADP Logo"
        />
      </a>
    </div>
    <div class="dashboard-tile">
      <a href="#" target="_blank">
        Discounts
        <img
          src="{{ url_for('static', filename='img/Discounts_Logo.png') }}"
          alt="Discounts Logo"
        />
      </a>
    </div>
  </div>
</main>
{% endblock %}
