<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/login.css" />
    <title>Login - HR Suite</title>
  </head>
  <body>
    <main class="container">
      <div class="main-logo">
        <img
          src="/static/img/LuxiumLogo.png"
          alt="Luxium Solutions Logo"
          style="max-width: 100%; height: auto"
        />
      </div>
      <form class="login-form">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Log In</button>
        <a href="#" class="forgot-password">Forgot Password?</a>
      </form>
    </main>
  </body>
</html>
