{% extends "base.html" %} {% block title %}My Team Performance Dashboard{%
endblock %} {% block stylesheets %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/myteam_performance_dashboard.css') }}"
/>
{% endblock %} {% block content %}
<div class="performance-dashboard-container">
  <h1 class="performance-dashboard-title">My Team Performance Dashboard</h1>
  <div class="performance-dashboard-buttons">
    <a href="{{ url_for('complete_evaluations') }}" class="performance-button"
      >Complete Evaluations</a
    >
    <a href="{{ url_for('view_evaluations') }}" class="performance-button"
      >View Evaluations</a
    >
    <a href="{{ url_for('performance_reports') }}" class="performance-button"
      >Performance Reports</a
    >
  </div>
</div>
{% endblock %}
