{% extends "base.html" %} {% block title %}My Team Employment{% endblock %} {%
block stylesheets %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/myteam_employment.css') }}"
/>
{% endblock %} {% block content %}
<main class="container">
  <div class="title-bar">
    <h1>Team Members Reporting to You</h1>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Title</th>
        <th>Department</th>
        <th>Hire Date</th>
        <th>Seniority Date</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employees %}
      <tr>
        <td>{{ employee.employee_name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.title }}</td>
        <td>{{ employee.Department }}</td>
        <td>{{ employee.hire_date }}</td>
        <td>{{ employee.Seniority_Date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %}
