<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Team Employment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Team Members Reporting to You</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Title</th>
                <th>Department</th>
                <th>Hire Date</th>
                <th>Seniority Date</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.name }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.title }}</td>
                <td>{{ employee.Department }}</td>
                <td>{{ employee.hire_date }}</td>
                <td>{{ employee.Seniority_Date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
