<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Performance Evaluation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="banner">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/LuxiumLogo.png') }}" alt="Luxium Solutions Logo">
            </div>
        </div>
        <nav class="navigation">
            <ul>
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('logout') }}" class="logout-btn">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <div class="title-bar">
            <h1>Performance Evaluation</h1>
        </div>
        <div class="form-container">
            <form action="{{ url_for('myteam_performance_evaluations') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-section">
                    <div>{{ form.employee_id.label }} {{ form.employee_id }}</div>
                    <div>{{ form.business_result.label }} {{ form
