<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Select Form to Fill Out</h1>
    <ul>
        <li><a href="{{ url_for('fill_form', form_type='personal_action') }}">Personal Action Form</a></li>
        <li><a href="{{ url_for('fill_form', form_type='leave_request') }}">Leave Request Form</a></li>
        <li><a href="{{ url_for('fill_form', form_type='personal_leave') }}">Personal Leave Form</a></li>
        <li><a href="{{ url_for('fill_form', form_type='anonymous_complaint') }}">Anonymous Complaint Form</a></li>
    </ul>
</body>
</html>
