<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workflows - Luxium Solutions</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="/static/img/LuxiumLogo.png" alt="Company Logo" />
      </div>
      <nav>
        <ul>
          <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
          <li><a href="#">Calculation Configuration</a></li>
          <li><a href="{{ url_for('workflows') }}">Workflows</a></li>
          <li><a href="/logout" class="logout-btn">Logout</a></li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <h1>Admin Workflows</h1>
      <form method="POST" action="{{ url_for('trigger_workflow') }}">
        {{ form.hidden_tag() }}
        <label for="notification_message">{{ form.notification_message.label }}</label>
        {{ form.notification_message() }}
        {{ form.submit() }}
      </form>
    </main>

    <script src="{{ url_for('static', filename='js/notifications.js') }}"></script>
  </body>
</html>
